extends ../_tmpl/_tmpl

block param
	- var title = "アコーディオンメニュー練習";
	- var keywords = "";
	- var description = "";

block stylesheet
	link(rel="stylesheet", href="/accordion/css/accordion.css")

block contents
	.accordion
		.accordion_nav
			h2.accordion_navItem アコーディオンメニュー1＋
			p.accordion_contentItem.hidden ・アコーディオンコンテンツ
			h2.accordion_navItem アコーディオンメニュー2＋
			p.accordion_contentItem.hidden ・アコーディオンコンテンツ
			h2.accordion_navItem アコーディオンメニュー3＋
			p.accordion_contentItem.hidden ・アコーディオンコンテンツ

block script
	script(src="../js/accordion/js/accordion.js")
