extends ../_tmpl/_tmpl

block param
	- var title = "アコーディオンメニュー";
	- var keywords = "";
	- var description = "";

block stylesheet
	link(rel="stylesheet", href="/accordion/css/accordion.css")

block contents
	.accordion
		.accordion_nav
			h2.accordion_navItem アコーディオンメニュー＋
			p.accordion_contentItem.hide ・アコーディオンコンテンツ
			//- h2.accordion_navItem アコーディオンメニュー＋
			//- p.accordion_contentItem.hide ・アコーディオンコンテンツ

block script
	script(src="../js/accordion/js/accordion.js")
