@charset 'UTF-8';

@import "../../_various";

h1 {
  border-bottom: solid 3px blue;
  font-size: 22px;
  padding: 0 0 5px;
  font-weight: bold;
}

.accordion {
  &_nav {
    display: block;
    margin: 10px auto;
  }
  &_navItem {
    cursor: pointer;
    padding: 10px 0;
    margin: 10px auto;
    background: aliceblue;
    border-bottom: blue 1px solid;
    border-top: blue 1px solid;
  }
  &_contentItem {
    transition: all .2s;
    position: relative;
    animation: slidein .3s ease-out 0s;
  }
  &_contentItem {
    transition: all .2s;
    position: relative;
    animation: slidein .3s ease-out 0s;
  }
}
.is-show {
  display: block;
}

.hidden {
  display: none;
}

.slideout {
  transition: all .2s;
  animation: slideout .3s ease-out 0s;
}

@keyframes slidein {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideout {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
