@charset 'UTF-8';

@import "../../_various";

h1 {
  border-bottom: solid 2px blue;
  font-size: 22px;
  padding: 0 0 5px;
  font-weight: bold;
}

.tab {
  &_nav {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0;
  }
  &_navItem {
    padding: 4px 8px;
    transition: all .2s;
  }
  &_contentItem {
    display: none;
    width: 200px;
    margin: 10px auto 0;
    transition: all .2s;
  }
}

.is-active {
  display: block;
  background-color: rgb(210, 235, 255);
}

.is-show {
  display: block;
}
