extends ../_tmpl/_tmpl

block param
	- var title = "タブメニュー";
	- var keywords = "";
	- var description = "";

block stylesheet
	link(rel="stylesheet", href="/tab/css/tab.css")

block contents
	.tab
		ul.tab_nav
			li.tab_navItem1 タブ1
			li.tab_navItem2 タブ2
			li.tab_navItem3 タブ3
		.tab_content
			.tab_contentItem1
				p タブコンテンツ1
			.tab_contentItem2
				p タブコンテンツ2
			.tab_contentItem3
				p タブコンテンツ3

block script
	script(src="../js/tab/js/tab.js")
